/* latin-ext */
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_XiYsKILxRpg3hIP6sJ7fM7PqtlsnDvecq7Gq0DDzS.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_XiYsKILxRpg3hIP6sJ7fM7PqtlsnDs-cq7Gq0DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_XiYsKILxRpg3hIP6sJ7fM7PqtzsjDvecq7Gq0DDzS.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_XiYsKILxRpg3hIP6sJ7fM7PqtzsjDs-cq7Gq0DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Dvecq7Gq0DDzS.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url(https://fonts.gstatic.com/s/sourcecodepro/v9/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Ds-cq7Gq0DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/* @font-face {
	font-family: "Source Code Pro";
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-ExtraLight.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-ExtraLight.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 200;
	font-style: italic;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-ExtraLightIt.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-ExtraLightIt.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-Light.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-Light.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-LightIt.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-LightIt.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-Regular.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-Regular.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-It.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-It.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-Medium.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-Medium.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-MediumIt.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-MediumIt.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-Semibold.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-Semibold.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-SemiboldIt.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-SemiboldIt.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-Bold.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-Bold.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-BoldIt.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-BoldIt.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-Black.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-Black.otf.woff") format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	src: url("/assets/fonts/WOFF2/OTF/SourceCodePro-BlackIt.otf.woff2") format("woff2"), url("/assets/fonts/WOFF/OTF/SourceCodePro-BlackIt.otf.woff") format("woff");
} */