body {
	background-color: #f8f9fa
}

.navbar-title {
	color: #0078a4;
}

.navbar-title:hover {
	text-decoration: none;
	color: #0078a4;
}

li {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

a {
	word-wrap: break-word;
}

.pink-button {
	text-decoration: none;
	border: 5px solid #CC6E77;
	background-color: #CC6E77;
	color: #f8f9fa;
	cursor: pointer;
	/* height: 60px; */
	/* line-height: 30px; */
	/* font-size: 20px;
	line-height: 40px;
	margin: 0;
	padding: 15px 33px; */
}

.pink-button:hover {
	text-decoration: none;
	color: #f8f9fa;
}

.dark-blue-button {
	text-decoration: none;
	border: 5px solid #0078a4;
	background-color: #0078a4;
	color: #f8f9fa;
	cursor: pointer;
	/* height: 60px; */
	/* font-size: 20px;
	line-height: 40px;
	padding: 15px 33px; */
}

.dark-blue-button:hover {
	text-decoration: none;
	color: #f8f9fa;
}

.light-blue-button {
	text-decoration: none;
	border: 5px solid #5fb6e9;
	background-color: #5fb6e9;
	color: #f8f9fa;
	cursor: pointer;
	/* height: 60px; */
	/* font-size: 20px;
	line-height: 40px;
	padding: 15px 33px; */
}

.light-blue-button:hover {
	text-decoration: none;
	color: #f8f9fa;
}

.b-dark-blue {
	border: 5px solid #0078a4;
}

.b-light-blue {
	border: 5px solid #5fb6e9;
}

.b-light-pink {
	border: 5px solid #d86774;
}

.b-light-green {
	border: 5px solid #acc59b;
}

summary::-webkit-details-marker {
	display: none
}

summary {
	list-style: none;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

summary:after {
	content: "+";
	color: rgb(33, 37, 41);
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: -5px 10px 0 0;
	text-align: center;
	width: 20px;
}

details[open] summary:after {
	content: "-";
}