@import url("/assets/css/fonts.css");

/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700&display=swap'); */

body {
	background-color: #f8f9fa;
	font-family: "Source Code Pro", monospace;
}

.navbar-title {
	color: #0078a4;
}

.navbar-title:hover {
	text-decoration: none;
	color: #0078a4;
}

li {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

a {
	word-wrap: break-word;
}

.pink-button {
	text-decoration: none;
	border: 5px solid #CC6E77;
	background-color: #CC6E77;
	color: #f8f9fa;
	cursor: pointer;
}

.pink-button:hover {
	text-decoration: none;
	color: #f8f9fa;
}

.dark-blue-button {
	text-decoration: none;
	border: 5px solid #0078a4;
	background-color: #0078a4;
	color: #f8f9fa;
	cursor: pointer;
}

.dark-blue-button:hover {
	text-decoration: none;
	color: #f8f9fa;
}

.light-blue-button {
	text-decoration: none;
	border: 5px solid #5fb6e9;
	background-color: #5fb6e9;
	color: #f8f9fa;
	cursor: pointer;
}

.light-blue-button:hover {
	text-decoration: none;
	color: #f8f9fa;
}

.b-grey {
	border: 2px solid grey;
}

.b-dark-blue {
	border: 5px solid #0078a4;
}

.b-light-blue {
	border: 5px solid #5fb6e9;
}

.b-light-pink {
	border: 5px solid #d86774;
}

.b-light-green {
	border: 5px solid #acc59b;
}

summary::-webkit-details-marker {
	display: none
}

summary {
	list-style: none;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

summary:after {
	content: "+";
	color: rgb(33, 37, 41);
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: -5px 10px 0 -25px;
	text-align: center;
	width: 20px;
}

details[open] summary:after {
	content: "-";
}