<div class="container">
<div class="row justify-content-center">
	<div class="col-10 mt-0 mt-5 mb-5 p-3 b-grey">
		<!--about VIRT-EU-->

		<h3 class="text-center">About VIRT-EU</h3>
		<div class="row">

			<div class="col-12 col-md-10">
				<p>
					<a href="https://virteuproject.eu">VIRT-EU</a> is a consortium of international organisations and universities seeking to understand how the Internet of Things (IoT) designers and developers enact ethics in practice in order to develop tools to support reflection on ethics, data and privacy throughout the development process. Partners include IT University of Copenhagen, Copenhagen Institute of Interaction Design, Uppsala University, Politecnico di Torino, London School of Economics and Open Rights Group.
				</p>
				<p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No <a href="https://cordis.europa.eu/project/rcn/205981_en.html">732027</a>.</p>
			</div>

			<div class="col-12 col-md-2 order-md-first">
				<img src="assets/images/euflag.png" width=100 alt="European flag" class="img-fluid mr-md-4">
			</div>

		</div>
	</div>
</div>
</div>