<div class="row justify-content-around ">
	<div class="col-10 col-md-8 mt-0 pr-5">

		<!--about VIRT-EU-->

		<h3 class="text-center">About VIRT-EU</h3>
		<div class="media">

			<img src="assets/images/euflag.png" width=100 alt="" class="img-fluid mr-4">

			<div class="media-body">
				<p>VIRT-EU is <a href="https://virteuproject.eu">a consortium of international organisations and
						universities</a> seeking to understand how the development of the Internet of Things
					(IoT)
					affects ethics, data protection and privacy. Partners include IT University of Copenhagen,
					Copenhagen Institute of Interaction Design, Uppsala University, Politecnico di Torino,
					London
					School
					of Economics and Open Rights Group.</p>
				<p>This project has received funding from the European Union's Horizon 2020 research and
					innovation
					programme under grant agreement No <a
						href="https://cordis.europa.eu/project/rcn/205981_en.html">732027</a>.</p>
			</div>

		</div>
	</div>
</div>