<div class="row justify-content-center mt-5 mb-4">
	<div class="col-10 col-md-9 b-dark-blue py-4">
		<h2 class="text-center">Join the Design Challenge</h2>
		<div class="row justify-content-center mt-4">
			<div class="col-11">
				<p class="lead text-center"><strong>Read the design brief. Then submit your concept by Monday 3 June.</strong></p>
			</div>
		</div>
		<div class="row justify-content-center mt-2">

			<div class="col-10 col-md-5 mx-auto d-flex justify-content-center">
				<a class="dark-blue-button btn btn-lg" role="button" href="/design-brief.html">Read the design brief</a>
			</div>

			<div class="col-10 col-md-5 mx-auto d-flex justify-content-center mt-2 mt-md-0">
				{# <a class="typeform-share pink-button btn btn-lg" role="button"
					href="https://virteu-design.typeform.com/to/ST5K9N" data-mode="popup" data-hide-headers=true
					data-hide-footer=true data-submit-close-delay="5" target="_blank">Submit your concept</a> #}

					<a class="pink-button btn btn-lg" role="button"
					href="/form.html">Submit your concept</a>
			</div>
		</div>
	</div>
</div>