<div class="row justify-content-center mt-5 mb-4">
	<div class="col-10 col-md-9 b-dark-blue py-4">
		<h2 class="text-center">Get in touch</h2>
		<p>If you have any questions, send us an email to <a href="mailto:{{ site.emailAddress }}">{{ site.emailAddress }}</a></p>
		<div class="row justify-content-center">
			<div class="col-3">
				<a class="light-blue-button btn btn-lg px-4" role="button" href="mailto:{{ site.emailAddress }}">Email
					us</a>
			</div>
		</div>

	</div>
</div>