<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	<title>VIRT-EU Design Challenge</title>

	<meta name="description" content="{{ site.description }}" />
	<meta property="og:title" content="{{ site.siteTitle }}" />
	<meta property="og:description" content="{{ site.shortDescription }}" />
	<meta property="og:image" content="{{ site.url }}{{ site.shareImagePath }}" />
	<meta property="og:url" content="{{ site.url }}" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{ site.author.twitterUsername }}">
	<meta name="twitter:creator" content="{{ site.author.twitterUsername }}">
	<meta name="twitter:title" content="{{ site.shortDescription }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:image" content="{{ site.url }}{{ site.shareImagePath }}">

	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/styles.css">

</head>