<div class="row d-none top-links sticky-top">
	<div class="col-12">
		<ul class="nav bg-light">

			<div class="d-none d-md-inline col-md-2">
				<li>
					<a class="navbar-brand mx-auto ml-md-0" href="/">
						<img src="assets/images/virt-eu_POS.png" class="img-fluid" alt="VIRT-EU logo" width=110>
					</a>
				</li>
			</div>
			<div class="col-md-10 d-flex justify-content-end">
				<div class="col-6 col-md-4">
					<li class="nav-item">
						{% include "global-components/buttons/read-design-brief-button.html" %}
					</li>
				</div>
				<div class="col-6 col-md-4">
					<li class="nav-item">
						{% include "global-components/buttons/submit-concept-button.html" %}
					</li>
				</div>
			</div>
		</ul>
	</div>

</div>