<div class="col-10 col-md-5 p-3 b-grey">
	<!--concept requirements-->
	<h3 class="text-center">
		Concept requirements
	</h3>
	<p class="mt-4">
		Your concept should present:
	</p>
	<ol>
		<li>
			<strong>
				Description
			</strong> (max 500 words)<br>Write a short description of your concept for an IoT system or
			product that deals with questions around living with difference in the connected home.
			(required)
		</li>
		<ul class="mt-2">
			<li>What does it do?</li>
			<li>How will it be used?</li>
			<li>Who exactly is it for?</li>
			<li>What problem does it solve?</li>
		</ul>
		<li class="mt-2"><strong>Upload an image or diagram</strong> illustrating how your concept would be
			used in a possible scenario. (optional)</li>
	</ol>

</div>