<div class="col-10 col-md-5 p-3 b-grey">
	<!--design constraints-->
	<h3 class="text-center">
		Design constraints
	</h3>

	<ul class="mt-4">
		<li>
			This challenge is for concepts around IoT in the home
		</li>

		<li>
			The home users are families, groups or individuals who live together
		</li>

		<li>
			The concept addresses or reflects on challenges or consequences of connected life
		</li>

		<li>
			The concept should interface with at least one conception of ‘difference’ as outlined above
			and through the personae
		</li>

		<li>
			Take into account how your connected IoT product or system would interface with at least one
			of these aspects of difference:
		</li>

		<ul>
			<li>
				Language
			</li>
			<li>
				Intercultural
			</li>
			<li>
				Intergenerational
			</li>
			<li>
				Ability and capability
			</li>
			<li>
				Socio-economic status
			</li>
		</ul>
	</ul>
</div>