<div class="col-10 col-md-5 mt-4 mt-md-0 p-3 shadow-lg b-dark-blue">
	<!--how the design challenge works-->

	<h3 class="text-center">
		How the Design Challenge Works
	</h3>
	<p class="mt-4">
		You have until {{ site.firstSubmissionDate }} to come up with a concept in response to the Design Challenge and present it
		in a clear and concise manner. We will consider all of the concepts submitted within the deadline
		and evaluate them.
	</p>

	<p>
		On June 3rd, we will select the applicants who will proceed to the second round. In the second round, they will be asked to submit the additional materials of a technical diagram, user storyboard and business plan. The second round will be supported by a beta version of a custom tool from our VIRTEU project.
	</p>

	<p>
		On June 24th, we will announce the finalists who will be invited to the presentation event as part
		of <a href="https://orgcon.openrightsgroup.org/2019/">ORGCon</a>.</p>

	<p><a href="https://orgcon.openrightsgroup.org/2019/">ORGCon</a> is Open Rights Group's
		conference in London. It's being held on Saturday 13 July 2019.</p>
	<p>The selected concepts will be the ones that best answer the Challenge question and have
		the most potential for impact in the world, selected by our team according to the evaluation
		criteria listed below.
	</p>
</div>