<div class="row mt-0 pt-4 justify-content-center">
	<div class="col-10 col-md-7 mt-2 p-3 b-grey">
		<p class="lead">
			For years we have heard that the ‘smart home’ is coming, using connected devices to transform everyday life.
		</p>
		<p>Personal assistants, remotely-triggered thermostats, responsive lighting and cooking, cleaning and food
			preparation apps and services promise to make our individual lives better by personalising aspects of the
			environments and information around us.
		</p>

		<p>
			While this personalisation happens, another important trend changes what home is and who is there. Younger
			people live longer with their parents, or return to their homes after study. People of all ages experiment
			with collaborative living and share spaces and experiences. Families change shape, and some people at home
			need extra care to accommodate age, illness or different abilities.
		</p>

		<p>
			These issues of difference and care challenge the idea that connected systems are just for personal use. We
			share our space, our information and our devices in complex ways, even as we simply try to get through
			‘ordinary life at home’. How might connected Internet of Things (IoT) systems and products enter into and
			change communal spaces of home?
		</p>

	</div>
</div>