<div class="col-10 col-md-5 mt-4 mt-md-0 p-3 b-grey">
	<!--judges-->
	<h3 class="text-center">The Judges</h3>
<div>
		<details class="mt-4 py-2 px-4">
			<summary>
				<span class="lead">Alexandra Deschamps-Sonsino</span>
			</summary>
			<p>Twitter: <a href="https://twitter.com/iotwatch">@iotwatch</a></p>
			<p class="mt-2"><a href="https://about.me/designswarm">Alexandra Deschamps-Sonsino is an interaction
					designer</a>, product
				designer, entrepreneur based in London.</p>
			<p>
				She was named 1st in a list of 100 Internet of Things Influencers (Postscapes, 2016), 2nd in
				Top 100 Internet of Things Thought Leaders (Onalytica, 2014) and in the Top 100 Influential
				Tech Women on Twitter (Business Insider, 2014), Smith & Williamson Power 100 (2017).
			</p>
		</details>

		<details class="mt-4 py-2 px-4">
			<summary>
				<span class="lead">Rob van
					Kranenburg</span>
			</summary>
			<p>Twitter: <a href="https://twitter.com/robvank">@robvank</a></p>
			<p class="mt-2"><a href="https://www.linkedin.com/in/robvankranenburg">Rob van Kranenburg is the Founder of Council_IoT and #iotday</a>
			</p>
			<p>
				He wrote The Internet of Things. A critique of ambient technology and the all-seeing network of
				RFID, Network Notebooks 02, Institute of Network Cultures. He is co-founder of bricolabs.
				Together with Christian Nold he published Situated Technologies Pamphlets 8: The Internet of
				People for a Post-Oil World. Rob is co-editor of Enabling Things to Talk Designing IoT solutions
				with the IoT Architectural Reference Model, Springer Open Access. He works as Ecosystem Manager
				for the EU projects Tagitsmart and Next Generation Internet.
			</p>

			<p>
				He is a DeTao Master IoT.
			</p>
		</details>

		<details class="mt-4 py-2 px-4">
			<summary>
				<span class="lead">Dawn Nafus</span>
			</summary>
			<p>Twitter: <a href="https://twitter.com/dawnnafus">@dawnnafus</a></p>

			<p class="mt-2">
				Dawn Nafus is a senior research scientist at Intel Labs, where she conducts anthropological research to inform new product development and strategy.</p>
			<p>
				Her research interest include cultures of quantification, health and environmental sensing, and digital methods. She is the editor of Quantified: Biosensing Technologies in Everyday Life (MIT Press, 2016), co-author of Self Tracking (MIT Press 2016) and co-editor of Ethnography for a Data-Saturated World (Manchester University Press, 2018).
			</p>
		</details>

		<details class="mt-4 py-2 px-4">
			<summary>
				<span class="lead">Simone Rebaudengo</span>
			</summary>
			<p>Twitter: <a href="https://twitter.com/fishandchipsing">@fishandchipsing</a></p>

			<p class="mt-2">
				Simone is a product and interaction designer based in Shanghai, where he works with international clients and institutions like BMW, Philips, Google Creative Labs and the Dubai’s Museum of the Future. His work focuses on building experiential versions of the future and exploring the implications of living and interacting with networked, smart and autonomous things.

			</p>
		</details>
		{# <details class="mt-4 py-2 px-4">
			<summary>
				<span class="lead">Srđan Krčo</span>
			</summary>
			<p class="mt-2">
				<a href="https://www.linkedin.com/in/srdjankrco">Srđan
					Krčo is a co-founder and CEO of DunavNET</a>, a company designing turnkey IOT solutions. He
				has over 20 years of experience, working with large multinational companies and international
				collaborative research and innovation projects.
			</p>
		</details> #}
	</div>

</div>