<div class="col-10 col-md-5 mt-4 mt-md-0 p-3 b-grey">
	<!--judges-->
	<h3 class="text-center">The Judges</h3>
	<details class="mt-4 py-2 px-4">
		<summary>
			<span class="lead">Alexandra Deschamps-Sonsino</span>
		</summary>
		<p class="mt-2"><a href="https://about.me/designswarm">Alexandra Deschamps-Sonsino is an interaction
				designer</a>, product
			designer, entrepreneur based in London.</p>
		<p>
			She was named 1st in a list of 100 Internet of Things Influencers (Postscapes, 2016), 2nd in
			Top 100 Internet of Things Thought Leaders (Onalytica, 2014) and in the Top 100 Influential
			Tech Women on Twitter (Business Insider, 2014), Smith & Williamson Power 100 (2017).
		</p>
	</details>
	<details class="mt-4 py-2 px-4">
		<summary>
			<span class="lead">Rob van
				Kranenburg</span>
		</summary>
		<p class="mt-2"><a href="https://www.linkedin.com/in/robvankranenburg">Rob van
				Kranenburgis the Founder of Council_IoT and #iotday</a></p>

		<p>
			He wrote The Internet of Things. A critique of ambient technology and the all-seeing network of
			RFID, Network Notebooks 02, Institute of Network Cultures. He is co-founder of bricolabs.
			Together with Christian Nold he published Situated Technologies Pamphlets 8: The Internet of
			People for a Post-Oil World. Rob is co-editor of Enabling Things to Talk Designing IoT solutions
			with the IoT Architectural Reference Model, Springer Open Access. He works as Ecosystem Manager
			for the EU projects Tagitsmart and Next Generation Internet.
		</p>

		<p>
			He is a DeTao Master IoT.
		</p>
	</details>

	<details class="mt-4 py-2 px-4">
		<summary>
			<span class="lead">Tomaž Vidonja</span>
		</summary>
		<p class="mt-2">
			<a href="https://www.linkedin.com/in/tomazvidonja">Tomaž Vidonja works as a business development
				and marketing director at ICT Technology Network Institute</a>, a national ICT triple helix
			cluster in Ljubljana, Slovenia. He's in charge of Internet of Things Competence Center »OpComm«
			as a chief executive officer. He manages business and market oriented consortium which consists
			of hi-tech companies and public research organizations. It's a great challenge and also a
			motivation to develop the Living bits and things community to a globaly recognized IoT brand for
			Smart Living networking in Central and South East European countries.
		</p>
	</details>
	<details class="mt-4 py-2 px-4">
		<summary>
			<span class="lead">Srđan Krčo</span>
		</summary>
		<p class="mt-2">
			<a href="https://www.linkedin.com/in/srdjankrco">Srđan
				Krčo is a co-founder and CEO of DunavNET</a>, a company designing turnkey IOT solutions. He
			has over 20 years of experience, working with large multinational companies and international
			collaborative research and innovation projects.
		</p>
	</details>

</div>