<div class="col-10 col-md-5 p-3 b-grey">
	<h3 class="text-center">Prizes</h3>
	<p class="mt-4">
		One winning team will win {{ site.winningPrize }} and one runner-up team will win {{ site.runnerUpPrize }}.
	</p>
	<p>At least one team member must attend the VIRT-EU Design Challenge event on July 13th in London conducted as part of <a
			href="https://orgcon.openrightsgroup.org/2019">ORGCon 2019</a>. Limited travel support is available.
	</p>

	<p>They will
		present their concept to <a href="https://orgcon.openrightsgroup.org/2019">the ORGCon conference</a> on Saturday
		13 July, where they will also
		receive one hour of 1-to-1 mentoring from an IoT industry leader.
	</p>
</div>