<div class="col-10 col-md-5 p-3 shadow-lg b-light-blue">
	<h3 class="text-center">Prizes</h3>
	<p class="mt-4">
		One winning team will win €{{ site.winningPrize }} and one runner-up team will win €{{ site.runnerUpPrize }}.
	</p>
	<p>The winners and
		runners-up will be invited to London with accommodation and travel paid for.</p>
	<p>They will
		present their concept to the ORGCon conference on Saturday 13 July, where they will also
		receive one hour of 1-to-1 mentoring from an IoT industry leader.
	</p>
</div>