<div class="row justify-content-around mt-0 pt-5 pb-5">
<!--timeline-->
<div class="col-10 col-md-5 p-3 b-grey">
	<h3 class="text-center">
		The Timeline
	</h3>

	<p class="mt-4">
		<em>May ___</em><br>
		Open call announced
	</p>

	<p>
		<em>June 1</em><br>
		Deadline for initial concept submission
	</p>

	<p>
		<em>June 3</em><br>
		Selections for second round announced
	</p>

	<p>
		<em>June 20</em><br>
		Deadline for submission of early-stage ideas
	</p>

	<p>
		<em>June 24</em><br>
		Finalists announced
	</p>

	<p>
		<em>July 13</em><br>
		Finalists present concepts at ORGCon
	</p>
</div>