<div class="col-10 col-md-5 p-3 b-grey">
	<h3 class="text-center">
		What we're looking for</h3>

	<p class="mt-4">
		We're looking for concepts that speak to the question of…
	</p>

	<p class="lead">"How might we use connected Internet of Things systems and products to re-imagine
		collaborative and communal living that is sensitive to differences between members of these living
		spaces?"</p>
	<p class="mt-4">In particular, we want submissions which are…</p>

	<ul>
		<li>
			Early stage designs that use connected IoT systems and products to explore new ways of
			living together
		</li>

		<li>
			Ideas about how to balance personalisation, privacy, and the experience with the interests
			and preferences of different people who live together
		</li>

		<li>
			Creative interventions in using connected devices to provide for life together, not only as
			individuals
		</li>
	</ul>
</div>