<div class="col-10 col-md-5 p-3 b-grey">
	<!--who can take part-->
	<h3 class="text-center">
		Who can take part?
	</h3>
	<p class="mt-4">
		<strong>Who can submit concepts?</strong>
		You must be a working professional in the field of design and technology.
	</p>

	<p>
		<strong>Can I use an idea I already came up with?</strong>
		Yes.
	</p>

	<p>
		<strong>Can we apply as a team?</strong>
		Yes. If selected, you will need to nominate one team member to attend the Design Challenge.
	</p>

	<p>
		<strong>Who will see my concept?</strong>
		Only our reviewing team, unless you are selected to attend the final event, in which case you will
		present your idea on stage along with the other finalists to the broader public.
	</p>
</div>