<!DOCTYPE html>
<html lang="en">
{% include "global-components/head.html" %}

<body>

	<div class="container">
		{% include "global-components/navbar.html" %}
		{% block topLinks %}
		{% endblock %}
		{% include "global-components/titles.html" %}

		{% block mainContent %}
		{% endblock %}

		{% include "global-components/about-virteu.html" %}
	</div>

	{% block scripts %}
	{% endblock %}
</body>

</html>