{% extends "layouts/page.njk" %}

{% block pageContent %}

	<h2>Thanks!</h2>

	<p class="lead">Thanks for submitting your application. We'll be in touch soon.</p>

	{% include "global-components/email-us.njk" %}

{% endblock %}