{% extends "layouts/base.njk" %}

{% block mainContent %}
<div class="row justify-content-center">

	<div class="col-10 col-md-8 mt-3">
		<h2>Thanks!</h2>

		<p class="lead">Thanks for submitting your application. We'll be in touch soon.</p>
	</div>

</div>

	{% include "global-components/email-us.njk" %}

{% endblock %}